<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Books Tracker </h1>
        <a href="/book/new">Add a new book</a>

        <% 
        const toReadBooks = Books.filter(book => book.status === 'To Read');
        const readingBooks = Books.filter(book => book.status === 'Reading');
        const finishedBooks = Books.filter(book => book.status === 'Finished');
        %>

        <h2> Currently Reading  (<%= readingBooks.length %>) </h2>
        <div>
            <% if (readingBooks.length > 0) { %>
            <ul>
                <% readingBooks.forEach((book)=> { %>
                    <li>
                        <strong> <%= book.title %></strong> owned by <%= book.owner.username %>
                        <% 
                        const total = book.totalPages
                        const current = book.currentPage
                        const percentage = (total && total > 0)
                        ? Math.round((current/ total)* 100)
                        : 0;
                        %>
                            <p>
                                <%= current %> / <%= total  %> pages | 
                                <strong> <%= percentage %>% Read </strong>
                            </p>
                            <progress value="<%= percentage %>" max="100" style="width: 250px; height: 15px;"></progress>

                            <a href="/book/<%= book._id %>"> Details</a>
                    </li>

               <% }) %>
            </ul>
            <% } else { %>
            <p>You are not currently reading any books!</p>
        <% } %>
        </div>

         <h2> To Read List (<%= toReadBooks.length %>) </h2>
         <div>
            <% if (toReadBooks.length > 0 ) { %>
            <ul>
                <% toReadBooks.forEach((book)=> { %>
                    <li>
                        <strong> <%= book.title %></strong> owned by <%= book.owner.username %>
                        <p> Not Started Yet</p>
                        <a href="/book/<%= book._id%>"> Details</a>
                    </li>
                <% }) %>
            </ul>
            <%} else { %>
                <p>Your "To Read" list is empty!</p>
                <% } %>
         </div>

           <h2> Finished List (<%= finishedBooks.length %>) </h2>
         <div>
            <% if (finishedBooks.length > 0 ) { %>
            <ul>
                <% finishedBooks.forEach((book)=> { %>
                    <li>
                        <strong> <%= book.title %></strong> owned by <%= book.owner.username %>
                        <p> Completed!</p>
                        <% if (book.rating) { %>
                            (Rated <%= book.rating %>/5)
                        <% } %>
                        <a href="/book/<%= book._id%>"> Details</a>
                    </li>
                <% }) %>
            </ul>
            <% } else { %>
                <p>You haven't finished any book yet!</p>
                <% } %>
         </div>


</body>

</html>