<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= Books.title %></title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h2>Details</h2>
        <p> Title: <%= Books.title %>
        </p>
        <p> Author: <%= Books.author %>
        </p>
        <p>Genre: <%= Books.genre %>
        </p>
        <p>Mood: <%= Books.mood %>
        </p>
        <p>Start Date: <%= Books.startDate %>
        </p>

        <% if (Books.owner._id.equals(user._id)){ %>
            <hr>

            <h3>My Saved Quotes (<%= Books.quotes ? Books.quotes.length : 0 %>)</h3>

            <a href="/book/<%= Books._id %>/quotes/new">Add a New Quote</a>

            <hr>
            <% if (Books.quotes && Books.quotes.length> 0) { %>
                <ul>
                    <% Books.quotes.forEach(quote=> { %>
                        <li>
                            <strong>Page <%= quote.pageNumber %>:</strong> "<%= quote.quote %>"
                                <br>
                                *Feeling: <%= quote.emotion %>* | Saved on: <%= quote.createdDate.toLocaleDateString()
                                        %>

                                        <% if (quote.personalNote) { %>
                                            <p>Note: <%= quote.personalNote %>
                                            </p>
                                            <% } %>
                                                <div>
                                                    <a href="/book/<%= Books._id %>/quotes/<%= quote._id %>/edit">Edit
                                                        Quote</a>

                                                    <form
                                                        action="/book/<%= Books._id %>/quotes/<%= quote._id %>?_method=DELETE"
                                                        method="POST" style="display: inline;">
                                                        <button type="submit">Delete Quote</button>
                                                    </form>
                                                </div>
                        </li>
                        <hr>
                        <% }) %>
                </ul>
                <% } else { %>
                    <p>You haven't saved any quotes for this book yet.</p>
                    <% } %>

                        <hr>

                        <a href="/book/<%= Books._id %>/edit">Edit book</a>
                        <form action="/book/<%= Books._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete the book</button>
                        </form>

                        <%}%>
</body>

</html>